.vscode
Luma3DS_Mod/out
Luma3DS_Mod/build
Luma3DS_Mod/arm11/build
Luma3DS_Mod/sysmodules/loader/build
Luma3DS_Mod/sysmodules/rosalina/build
Luma3DS_Mod/chainloader/build
Luma3DS_Mod/exceptions/arm9/build
Luma3DS_Mod/exceptions/arm11/build
*.bin
*.firm
*.o
*.d
*.elf
*.cxi
*.3dsx
.DS_Store
*.dmp
*.project
*.cproject
*.settings

*.cplg

pluginTest/3ModLoader
asmCode
move
move2
setup

Luma3DS*.zip
hbmenu.zip
